src/main/mule/name-context-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
  
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c8de9e28-e657-4f1a-85b2-45001c45258b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="name-context-apiFlow" doc:id="87afce6a-8993-496b-b488-5c42ac2b708f" >
		<http:listener doc:name="Listener" doc:id="6362c843-b635-46e6-b098-ba2683be7132" config-ref="HTTP_Listener_config" path="/simple"/>
		<set-payload value='#["simple"]' doc:name="Set Payload" doc:id="8eeda9f4-9918-4dcc-b1e5-436d2ecd09b8" />
  	</flow>
</mule>
